.profile{
    position:relative;
    width:1000px;
    height:320px;
    background-color: whitesmoke;
    border-radius:10px;
    padding:10px 10px 10px 10px;
    margin-top:20px;
}

.profile-image{
    display:inline-block;
    float:left;
}
.profile-image > img{
    width:450px;
    height:300px;
}

.profile-info{
    display:inline-block;
    float:left;
    padding-left: 20px;
}

