.required{
    color:red;
}

.submit-btn{
    position:relative;
    background-color: cadetblue;
    margin-left:40%;
    margin-right:40%;
    color:white;
}

.form-element{
    background-color:whitesmoke;
    border-radius: 10px;
    display:inline-block;
    margin: 20px;
    padding:10px 10px 10px 10px;
    width:40%;
    float:left;
}

.form-element-biography{
    background-color:whitesmoke;
    border-radius: 10px;
    display:inline-block;
    margin: 20px;
    padding:10px 10px 10px 10px;
    width:85%;
    float:left;
}