{% extends "base.html" %}

{% block css %}
    <!-- profileformcss -->
    <link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1>Profiles</h1>
    <br/>
    <div>
        <form action="{{ url_for('profiles') }}" method="post"  enctype="application/json">
            <button class="btn btn-lg btn-info submit-btn" type="submit">POST</button>
        </form>
    </div>
    {% for profile in profiles %}
        {% include 'profile-individual-template.html' %}
    {% endfor %}
{% endblock %}