<div class="profile">
    <div class="profile-image">
        {% if profile.profile_image %}
            <img src="{{ url_for('static',filename="uploads/"+profile.profile_image)}}">
        {%  else %}
            <img src="{{ url_for('static',filename="images/default-profile.png") }}">
        {% endif %}
    </div>
    <div class="profile-info">
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
        <p><strong>Profile Created On:</strong> {{ profile.created_on }}</p>
        <hr/>
        <p><strong>Username:</strong> {{ profile.username }}</p>
        <p><strong>UserID:</strong> {{ profile.userid }}</p>
        <p><strong>Gender:</strong> {{ profile.gender }}</p>
        <p><strong>Age:</strong> {{ profile.age }}</p>
        <p><em>{{ profile.biography }}</em></p>
    </div>

    <div class="profile-requests">
        <form action="{{ url_for('userprofile',userid=profile.userid) }}" method="get">
            <button class="btn btn-sm btn-warning submit-btn" type="submit">GET</button>
        </form>

        <form action="{{ url_for('userprofile',userid=profile.userid) }}" method="post" enctype="application/json">
            <button class="btn btn-sm btn-info submit-btn" type="submit">POST</button>
        </form>
    </div>
</div>